* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
}
.header-inicio{
    height: 80px;
    width: 100%;
    background-color: #000;
    transition: 0.3s ease-in-out transform;
}
body.active-barra .header-inicio,
body.active-barra main{
    transform: translateX(-80%);
}
body.active-barra .menu-lateral{
    transform: translateX(0%);
}
.nav{
    height: inherit;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.profile{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}
.menu-lateral{
    position: fixed;
    background-color: #212529;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    transform: translateX(100%);
    transition: 0.3s ease-in-out transform;
}
.menu-lateral .datos{
    height: 135px;
    width: 100%;
    text-align: center;
    background-color: #243D51;
    color: #e0e0e0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.datos span{
    color: #4DABF7;
    font-size: 35px;
    padding-bottom: 10px;
}
.datos p{
    padding-bottom: 5px;
}
.opciones{
    width: 100%;
    height: auto;
}
.opcion{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: .2s ease-in background;
    padding: 0 25px;
    user-select: none;
    cursor: pointer;
}
a.opcion{
    text-decoration: none;
}
.opcion:hover{
    background-color: #339AF0;
}
.opcion::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 54px;
    width: 100%;
}
.icono-opcion{
    color: #fff;
    font-size: 22px;
    margin-right: 15px;
    font-weight: 700;
}
.texto-opcion{
    color: #fff;
    font-size: 18px;
}
/* -------------------------------------------------------------------------- */
/*                              Contenedor panels                             */
/* -------------------------------------------------------------------------- */
.contenedor-tab{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px);
    position: relative;
    transition: 0.3s ease-in-out transform;
}
.tab{
    width: 100%;
    margin: auto;
    font-size: 50px;
    height: 100%;
    position: absolute;
    left: -100%;
    text-align: center;
        /* transition: .3s ease-out all; */
}
.tab:nth-child(1){
    background-color: darkblue;
}
.tab:nth-child(2){
    background-color: darkgoldenrod;
}
.tab:nth-child(3){
    background-color: darksalmon;
}
.tab:nth-child(4){
    background-color: darkviolet;
}
.tab:nth-child(5){
    background-color: #B06AB3;
}
.tab.visible-tab{
    left: 0;
}
.opcion.active-tab{
    background-color: #339AF0;
}
@media screen and (min-width: 730px) {
    .menu-lateral{
        width: 300px;
    }
    body.active-barra .header-inicio,
    body.active-barra main{
        transform: translateX(-300px);
    }
}
