*{
    box-sizing: border-box;
}
.contenedor_principal_mood{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contenedor_registro_mood{
    width: 370px;
    height: 500px;
    display: flex;
    align-items: center;
}
.contenedor_registro_mood form{
    height: 80%;
    margin:auto;
    width: 430px;
    background-color: #202020af;
}
.Titulito{
    color: #ffffff;
    margin-top: 20px;
}
.contenedor_opciones{
   width: 100%;
   height: 75%;
   padding: 0 70px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
}
.form-group-radios{
    --color-muy-bueno: #00c100;
    --color-bueno: #88E74E;
    --color-regular: #FEDC00;
    --color-malo: #E66F01;
    --color-muy-malo: #FF2951;
    width: auto;
    height: 30px;
    color: #fff;
}
.form-group-radios:nth-child(1) input:checked + label{
    color: var(--color-muy-bueno);
}
.form-group-radios:nth-child(1) input:checked + label::before{
    border-color: var(--color-muy-bueno);
}
.form-group-radios:nth-child(1) input:checked + label::after{
    background-color: var(--color-muy-bueno);
}
.form-group-radios:nth-child(2) input:checked + label{
    color: var(--color-bueno);
}
.form-group-radios:nth-child(2) input:checked + label::before{
    border-color: var(--color-bueno);
}
.form-group-radios:nth-child(2) input:checked + label::after{
    background-color: var(--color-bueno);
}
.form-group-radios:nth-child(3) input:checked + label{
    color: var(--color-regular);
}
.form-group-radios:nth-child(3) input:checked + label::before{
    border-color: var(--color-regular);
}
.form-group-radios:nth-child(3) input:checked + label::after{
    background-color: var(--color-regular);
}
.form-group-radios:nth-child(4) input:checked + label{
    color: var(--color-malo);
}
.form-group-radios:nth-child(4) input:checked + label::before{
    border-color: var(--color-malo);
}
.form-group-radios:nth-child(4) input:checked + label::after{
    background-color: var(--color-malo);
}
.form-group-radios:nth-child(5) input:checked + label{
    color: var(--color-muy-malo);
}
.form-group-radios:nth-child(5) input:checked + label::before{
    border-color: var(--color-muy-malo);
}
.form-group-radios:nth-child(5) input:checked + label::after{
    background-color: var(--color-muy-malo);
}

.form-group-radios input{
   display: none;
}
.form-group-radios label{
    position: relative;
    height: 35px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 15px 5px 50px;
    user-select: none;
}
.form-group-radios label::before{
    content: '';
    position: absolute;
    left: 17px;
    top: 4px;
    height: 18px;
    width: 18px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.form-group-radios input:checked + label::after{
    content: '';
    position: absolute;
    left: 23px;
    top: 10px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
}
.form-group-radios span{
    position: absolute;
}
.form-group-radios label img{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.contenedor_grafico_principal{
    width: 60%;
}
.contenedor_registro_mood form input[type="submit"]{
    border: none;
    background-color: #ffffff;
    height: 40px;
    width:60%;
    margin-bottom: 0;
    cursor: pointer;
}
.contenedor_botones{
    height: 40px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.btngrafica{
    height: 40px;
    width:200px;
    background-color: #202020af;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    color: #fff;
    transition: .3s ease-out background-color;
}
.btngrafica:hover{
    background-color: #6676E1;
}
.contenedor_grafica{
    height: 450px;
    width:100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 700px){
    .contenedor_grafico_principal{
        width: 40%;
    }
}
@media screen and (max-width: 700px){
    .contenedor_principal_mood{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .contenedor_registro_mood{
        width: 90%;
        height: 400px;
        margin: 10px auto;
    }
    .contenedor_registro_mood form{
        width: 100%;
        height: inherit;
    }
    
    .contenedor_grafico_principal{
        height: 400px;
        width: 100%;
        height: auto;
    }
    .contenedor_botones{
        max-width: 100%;
    }
    .contenedor_grafico_principal .btngrafica{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedor_grafica{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}