* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
}

.main-menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-menu {
    width: 100%;
    margin: auto;
    height: 600px;
    /* background-color: #fff; */
    padding: 0 20px;
}

.information-menu {
    display: none;
    height: inherit;
}

.ctn-form-login {
    width: 100%;
    height: 90%;
    position: relative;
    padding: 40px 10px;
    background-color: #2E3E53;
    height: inherit;
    border-radius: 8px;
    overflow: hidden;
}

.options {
    height: 30px;
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.button-options {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    color: white;
    height: 35px;
    width: 120px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
    outline: none;
}

.active-options {
    background-color: #62CDB9;
    color: white;
    border: 1px solid #62CDB9;
}

.ctn-form-login h2 {
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.form-login {
    position: absolute;
    width: 100%;
    height: 450px;
    top: 135px;
    left: 0;
    transition: left 0.4s ease-in-out .1s;
}

.form-register {
    position: absolute;
    height: 450px;
    width: 100%;
    left: 700px;
    top: 125px;
    transition: left 0.4s ease-in-out .1s;
}

.form-group {
    position: relative;
    width: 90%;
    margin: 40px auto;
}

.form-register .form-group {
    margin: 30px auto;
}

.form-group input {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    color: #e5e5e5;
    outline: none;
}
.form-group input:valid{
    background-color: transparent;
}
.form-group input:first-child {
    margin-top: 0;
}

.form-group input:focus~label,
.form-group input:valid~label{
    top: -18px;
}
.form-group label {
    position: absolute;
    color: #e5e5e5;
    top: 10px;
    left: 10px;
    transition: 0.3s ease;
    pointer-events: none;
}
.warning-error{
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #e5e5e5;
    display: none;
}

.barra {
    display: block;
    position: relative;
    width: 100%;
}

.barra::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
}

.form-group input:focus~.barra::before {
    width: 100%;
}

.terms {
    margin-top: -5px;
    margin-left: 15px;
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    color: #e5e5e5;
    font-size: 15px;
}

.terms input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.btn-iniciar,
.btn-registrar {
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
    display: block;
    width: 80%;
    margin: 55px auto 45px auto;
    color: white;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
    transition: 0.9s ease;
}

.btn-registrar {
    margin: 20px auto 20px auto;
}

.btn-iniciar:hover,
.btn-registrar:hover {
    background: -webkit-linear-gradient(to right, #4568DC, #B06AB3);
    background: linear-gradient(to right, #4568DC, #B06AB3);
}

.forgot-pwd,
.have-accont {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #e5e5e5;
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
}
.have-accont{
    margin: 0;
}
.forgot-pwd a,
.have-accont a {
    text-decoration: none;
    color: #62CDB9;
}

/* -------------------------------------------------------------------------- */
/*                             Estilos del inicio                             */
/* -------------------------------------------------------------------------- */
.header-inicio{
    height: 80px;
    width: 100%;
    background-color: #000;
    transition: 0.3s ease-in-out transform;
}
body.active-barra .header-inicio,
body.active-barra main{
    transform: translateX(-80%);
}
body.active-barra .menu-lateral{
    transform: translateX(0%);
}
.nav{
    height: inherit;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.profile{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}
.menu-lateral{
    position: fixed;
    background-color: #212529;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    transform: translateX(100%);
    transition: 0.3s ease-in-out transform;
}
.menu-lateral .datos{
    height: 135px;
    width: 100%;
    text-align: center;
    background-color: #243D51;
    color: #e0e0e0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.datos span{
    color: #4DABF7;
    font-size: 35px;
    padding-bottom: 10px;
}
.datos p{
    padding-bottom: 5px;
}
.opciones{
    width: 100%;
    height: auto;
}
.opcion{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: .2s ease-in background;
    padding: 0 25px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
a.opcion{
    text-decoration: none;
}
.opcion:hover{
    background-color: #339AF0;
}
.opcion::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 54px;
    width: 100%;
}
.icono-opcion{
    color: #fff;
    font-size: 22px;
    margin-right: 15px;
    font-weight: 700;
}
.texto-opcion{
    color: #fff;
    font-size: 18px;
}
/* -------------------------------------------------------------------------- */
/*                              Contenedor panels                             */
/* -------------------------------------------------------------------------- */
.contenedor-tab{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 80px);
    position: relative;
    transition: 0.3s ease-in-out transform;
}
.tab{
    width: 100%;
    margin: auto;
    font-size: 50px;
    height: 100%;
    position: absolute;
    left: -100%;
    text-align: center;
        /* transition: .3s ease-out all; */
}
.tab:nth-child(1){
    background-color: darkblue;
}
.tab:nth-child(2){
    background-color: darkgoldenrod;
}
.tab:nth-child(3){
    background-color: darksalmon;
}
.tab:nth-child(4){
    background-color: darkviolet;
}
.tab:nth-child(5){
    background-color: #B06AB3;
}
.tab.visible-tab{
    left: 0;
}
.opcion.active-tab{
    background-color: #339AF0;
}
@media screen and (min-width: 730px) {
    .main-menu {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .terms{
        margin-left: 25px;
    }
    .ctn-menu {
        position: relative;
        width: 700px;
        height: 580px;
    }
    .ctn-form-login {
        width: 350px;
        border-radius: 0 8px 8px 0;
        top: 0;
        left: 350px;
        position: absolute;
        transition: 0.6s ease-in-out left;
        padding: 0 10px;
    }
    .information-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px 0 0 8px;
        background-color: #62CDB9;
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        padding: 10px;
        transition: 0.6s ease-in-out left;
        z-index: 10;
    }
    .information-menu h1{
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        padding: 20px 5px;
        color: #fff;
    }
    .animation{
        width: 100%;
        height: 350px;
    }
    .ctn-btn{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ctn-btn .btn-registrar2,
    .ctn-btn .btn-iniciar2{
        background-color: #2E3E53;
        display: block;
        text-decoration: none;
        width: 70%;
        padding: 10px 15px;
        text-align: center;
        color: white;
        font-size: 18px;
    }
    .ctn-btn .btn-iniciar2{
        display: none;
    }
    .ctn-form-login .form-login{
        top: 100px;
    }
    .ctn-form-login .form-register{
        top: 90px;
    }
    .options{
        visibility: hidden;
    }
    .ctn-menu.active div.information-menu {
        left: 350px;
        border-radius: 0 8px 8px 0;
    }
    .ctn-menu.active div.ctn-form-login {
        left: 0;
        border-radius: 8px 0 0 8px;
    }
    .ctn-menu.active .information-menu .ctn-btn .btn-registrar2{
        display: none;
    }
    .ctn-menu.active .information-menu .ctn-btn .btn-iniciar2{
        display: block  ;
    }
    .menu-lateral{
        width: 300px;
    }
    body.active-barra .header-inicio,
    body.active-barra main{
        transform: translateX(-300px);
    }
}

@media screen and (min-width: 1000px) {
    .ctn-menu {
        position: relative;
        width: 1000px;
    }
    .information-menu{
        width: 500px;
    }
    .information-menu h1{
        font-size: 30px;
    }
    .ctn-form-login{
        width: 500px;
        left: 500px;
    }
    .ctn-menu.active div.information-menu {
        left: 500px;
    }
    .terms{
        margin-top: 0;
        margin-left: 0;
    }
    .btn-registrar {
        margin: 25px auto 30px auto;
    }
}